
img:hover {
    box-shadow: 0 0 2px 2px rgba(6, 64, 83, 0.5);
    /* transform: scaleX(-1); */
  }
  #img1 {
    border: 1px solid hsl(256, 40%, 79%);
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    filter: grayscale(100%);
  }
  img{
    border-radius: 20px;
  }
 ul{
   list-style-type:circle;
   font-size: 100%;
   padding: 10px;
 }
 body{
   background-color: rgba(164, 221, 235, 0.5);
 }
 a{
   text-decoration: none;
 }
 a:hover{
   text-decoration: underline;
 }

  
