<!DOCTYPE html> 
<html lang='en'>
 <head>
 <meta charset="utf-8">
 <title>Current time</title>
 <link rel="stylesheet" href="css/<%= style %>"/>
 </head>
 <body>
 This page was loaded at <%= time %>
 </body>
</html>