<!DOCTYPE html>
<html lang="en">

<head>
    <title>Party Planner</title>
    <meta charset="utif-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</head>

<body>
<form id="8ball">
  <div>
     <input id="question" >
  </div>
  <div>
     <input type="submit" value="Ask 8 Ball">
  </div>
  <span id="msg"> </span>

</form>
</body>
</html>