<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <title>Name and age</title>
        <link rel="stylesheet" href="css/<%=style%>">
    </head>
    <body>
        <form method="post" action="result">
            Name <input type="text" name="name">
            Age <input type="number" name="age">
            <input type="submit">
        </form>
    </body>
</html>