<!DOCTYPE html>
<html lang="en">

<head>
    <title>Party Planner</title>
    <meta charset="utif-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</head>

<body>
    <form id="add">
        <div>
            <label>First name</label> <input id="fname">
        </div>
        <div>
            <label>Last name</label> <input id="lname">
        </div>
        <div>
            <label>Arrival time</label> <input id="atime" type="datetime-local">
        </div>
        <div>
            <select id="food">
                <option>Pizza</option>
                <option>Burger</option>
                <option>Burrito</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Add to Party">
            <span id="msg"></span>
        </div>
    </form>
    <a href="/list">See Party List</a>
</body>

</html>