<a href="/">
	<h2 id="cart">
		Cart: <%= total %> item(s)
	</h2>
</a>
<hr>
	<h1>Product list</h1>
	<ul>
		<li>
			<a href="/product/1">Product 1</a>
		</li>
		<li>
			<a href="/product/2">Product 2</a>
		</li>
		<li>
			<a href="/product/3">Product 3</a>
		</li>
	</ul>

	</body>

	</html>